* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #F7FAFD;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (min-width: 50em) {
    #root {
        padding: 4.18rem 0 5.56rem 0;
    }
}